* {
    --blue: #a8f7ff;
    --dark-blue: #00123c;
    --light: #EEEEEE;
}

body {
    background-color: var(--blue);
}

main {
    display: block;
    position: absolute; 
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}



footer {
    background-color: var(--dark-blue);
    color: var(--light);

    text-align: center;
    font-size: 18px;
    line-height: 150%;
    font-family: Arial, Helvetica, sans-serif;

    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;

    width: 100%;
}

a, a:visited {
    color: var(--blue);
}